<h1>Create or Join a Group</h1>

<%= render 'shared/join_user_group' %>

<table class="table table-striped">
    <thead>
      <tr>
        <th>All User Groups</th>
		</tr>
	</thead>
	<tbody>
	<% @groups.order("created_at DESC").each do |p| %>
		<tr>
			<td>
				<%= link_to p.group_name, "/user_groups/"+p.group_name, method: :put %>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>

<table class="table table-striped">
    <thead>
      <tr>
        <th>My User Group</th>
        <th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% if @my_group.nil? %>

				<% else %>
					<%= link_to @my_group.group_name, "/user_groups/"+@my_group.group_name %>
			</td>
			<td>
					<%= link_to "Leave Group", "/user_groups/"+@my_group.group_name, method: :delete, :class => "btn btn-sm btn-primary" %>					
				<% end %>
			</td>
		</tr>
	</tbody>
</table>

<% if @my_group.nil? %>
	<%= render "shared/new_user_group_form" %>
	<% else %>

<% end %>