<div class="col-lg-9">
	<div id="heresWhat" class="jumbotron boxShadow">
		<div class="row">
		<h2>We've got you covered</h2>
			<p>Here's what you'll probably need. Check the boxes of items you have or don't need, click update to remove them, then add the remaining items directly to your Amazon cart or print your list. Easy.</p><%= link_to "I need it all", @amazon_link, :class => "btn btn-sm btn-warning", :target => "_blank" %>
		</div>
	</div>

<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Cleaning Supplies <p class="pull-right">Got It?</p></a>
		<!--Refactor/put in partial?-->
		<%= form_tag("/user_groups/"+current_user.user_group.group_name, method: "post") do %>

		<!--return user group items with item category = cleaning -->
		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Cleaning" %>
			<a class="list-group-item">
				<div class="needed-item">				
					<%= p.item.item_name %>	
					<!-- iframe for item popover
					<iframe class="amazon_img" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=movbro-20&marketplace=amazon&region=US&placement=B004V8ET3Q&asins=B004V8ET3Q&linkId=FPF655IFAT3M2TFG&show_border=true&link_opens_in_new_window=true"> -->
				</iframe>
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right cleaning") %>
				</div>
			</a>
			<% end %>
		<% end %>
			<div class="btn-group btn-group-md pull-right">
				<div class="btn btn-default" id="check_all_cleaning">
				Check / Uncheck All
			</div>
		</div>
	</div>
</div>

<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Kitchen<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Kitchen" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right kitchen") %>
			</a>
			<% end %>
		<% end %>
			<div class="btn-group btn-group-md pull-right">
				<div class="btn btn-default" id="check_all_kitchen">
				Check / Uncheck All
				</div>
			</div>
		</div>
	</div>
<!-- end of category -->
<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Bathroom<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Bathroom" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right bathroom") %>
			</a>
			<% end %>
		<% end %>
			<div class="btn-group btn-group-md pull-right">
				<div class="btn btn-default" id="check_all_bathroom">
				Check / Uncheck All
				</div>
			</div>
		</div>
	</div>
<!-- end of category -->
<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Bedroom<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Bedroom" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right bedroom") %>
			</a>
			<% end %>
		<% end %>
		<div class="btn-group btn-group-md pull-right">
			<div class="btn btn-default" id="check_all_bedroom">
			Check / Uncheck All
			</div>
		</div>
	</div>
</div>
<!-- end of category -->
<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">General Food<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "General Food" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right general") %>
			</a>
			<% end %>
		<% end %>
		<div class="btn-group btn-group-md pull-right">
			<div class="btn btn-default" id="check_all_general">
			Check / Uncheck All
			</div>
		</div>
	</div>
</div>
<!-- end of category -->
<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Furniture<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Furniture" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right furniture") %>
			</a>
			<% end %>
		<% end %>
		<div class="btn-group btn-group-md pull-right">
			<div class="btn btn-default" id="check_all_furniture">
			Check / Uncheck All
			</div>
		</div>
	</div>
</div>
<!-- end of category -->
<!-- New Category -->
<br>
<div class="row row-centered">
	<div class="col-lg-9 col-centered boxShadow center-block no-padding-list">
		<a class="list-group-item active cat">Miscellaneous<p class="pull-right">Got It?</p></a>

		<% @user_group.not_taken_user_group_items.each do |p| %>

		<% if p.item.category_name == "Misc" %>
			<a class="list-group-item">				
				<%= p.item.item_name %>	
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "pull-right misc") %>
			</a>
			<% end %>
		<% end %>
		<div class="btn-group btn-group-md pull-right">
			<div class="btn btn-default" id="check_all_misc">
			Check / Uncheck All
			</div>
		</div>
	</div>
</div>
<!-- end of category -->
	<br>
	<div class="row row-centered">
		<div class="col-lg-9 col-centered no-padding-list">
			<%= submit_tag("Update Group List", :class => "btn btn-sm btn-warning") %>
			<%= link_to "Add To Amazon Cart", @amazon_link, :class => "btn btn-sm btn-warning", :target => "_blank" %>
			<%= link_to "Add Remaining To Cart", @amazon_link2, :class => "btn btn-sm btn-warning", :id => "amz-link-2", 'data-toggle' => "tooltip", 'data-placement' => "top", :title => "Due to length, your list needs to be added in two halves", :target => "_blank" %>			
			<div class="btn btn-sm btn-warning" onclick="window.print();return false;">Print List</div>
			<br><br>	
		</div>
	</div>

	<% end %>

</div>

<% if @user_group.not_taken_user_group_items.count <= 46 %>

<script type='text/javascript'>
	$('#amz-link-2').hide();
</script>

<% end %>

<!-- JS functions to check all boxes in a category -->
<script type='text/javascript'>
    $('#check_all_misc').on("click", function(){ $('input.misc:checkbox').click(); });
    $('#check_all_general').on("click", function(){ $('input.general:checkbox').click(); });
    $('#check_all_bedroom').on("click", function(){ $('input.bedroom:checkbox').click(); });
    $('#check_all_bathroom').on("click", function(){ $('input.bathroom:checkbox').click(); });
    $('#check_all_kitchen').on("click", function(){ $('input.kitchen:checkbox').click(); });
    $('#check_all_cleaning').on("click", function(){ $('input.cleaning:checkbox').click(); });
    $('#check_all_furniture').on("click", function(){ $('input.furniture:checkbox').click(); });
    $('#check_all_taken').on("click", function(){ $('input.taken:checkbox').click(); });
    $('#amz-link-2').tooltip('show');
</script>

