<!--Taken items below -->
<%= form_tag() do %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Items We Already Gots</th>
        <th>Put it back on the shopping list?</th>
		</tr>
	</thead>
	<tbody>
	<%= form_tag("/user_groups/"+current_user.user_group.group_name, method: "post") do %>
	<% @user_group.taken_user_group_items.each do |p| %>		
		<tr>
			<td>
				<%= p.item.item_name %>	
			</td>
			<td>
				<%= check_box_tag("user_group_item_ids[]", p.id, false, :class => "text-center taken") %>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>

<button type="button" id="check_all_taken" class="btn btn-sm btn-primary">
Check / Uncheck All
</button>
<%= submit_tag("Put Back On List", :class => "btn btn-sm btn-primary") %>
<% end %>
<% end %>

<script type='text/javascript'>
    $('#check_all_taken').on("click", function(){ $('input.taken:checkbox').click(); });
</script>