<div class="homepage-items-desktop-only">
	<div class="row row-centered">
		<!--<h2 class="homepage-margins">Moving in made easy</h2>
		<p class="homepage-margins"><b>Moving Bro removes the headache of slowly figuring out what you should have bought before moving into your new place.</b></p>
		<br>-->
		<br>
		<div class="col-lg-10 col-centered">
			<!--first description box-->
			<div class="homepage-desc-box homepage-margins boxShadow">
				<div class="box-text">
					<h2>THE moving checklist, done for you</h2>
					<p>Our list covers it all - from cleaning items, to kitchen stuff, to bathroom supplies. Check off what you're bringing, share with your housemates so they can do the same, and then print your finalized list or add items to Amazon cart.
					</p>
				</div>
				<img src=<%= asset_path 'smlist.png' %> class="homepage-pic" />
			</div>
			
			<br>
			<br>

			<div class="homepage-desc-box homepage-margins boxShadow">
				<div class="box-text">
					<h2>Household item experts</h2>
					<p>Our team has methodically investigated the plethora of different laundry detergents you can buy online, pondered the merits of single ply versus quilted toilet paper, and stayed up nights weighing the pros and cons of different hand towels. Our moving checklist includes recommended Amazon picks for it all.
					</p>
				</div>
				<img src=<%= asset_path 'household.png' %> class="homepage-pic-left" />
			</div>

			<br>
			<br>

			<div class="homepage-desc-box homepage-margins boxShadow">
				<div class="box-text less-top-padding">
					<h2>Bro product reviews and tips</h2>
					<p>Our <%= link_to 'blog', 'http://blog.movingbro.com', :target => '_blank' %> hosts extensive and detailed reviews of the products we recommend. We also share the best moving and living space tips to ensure you and your housemates can broexist peacefully in your new pad. Recent posts:
					<ul>
						<li><%= link_to 'Detergent Wars: A New Hope', 'http://blog.movingbro.com/moving-checklist/product-reviews/2014/09/20/detergent-wars.html', :target => '_blank' %></li>
						<li><%= link_to 'Paper Towels - The Best Thing Since Shamwow', 'http://blog.movingbro.com//moving-checklist/product-reviews/2014/09/23/paper-towels.html', :target => '_blank' %></li>
						<li><%= link_to 'Splitting House Bills', "http://blog.movingbro.com/moving-checklist/bill-sharing/2014/09/17/splitting-house-bills.html", :target => '_blank' %></li>
						<li><%= link_to 'How We Make Our Amazon Picks', "http://blog.movingbro.com/moving-checklist/amazon-item-picks/2014/09/16/how-we-make-our-amazon-picks.html", :target => '_blank' %></li>
					</ul>
					</p>
				</div>
				<img src=<%= asset_path 'blog.png' %> class="homepage-pic" />
			</div>
		</div>
	</div>
	<br>

	<div class="row product-caption col-lg-15 text-center">
		<p><%= link_to "Best part - it's free!<br><span id='its-free'>(srsly)</span>".html_safe, '/users/sign_up', :class => "get-started btn btn-warning btn-lg" %></p>
	</div>
</div>