<div class="user-group-partial">
	<%= simple_form_for @group, :url => "/user_groups/", :method => :put do |f| %>
		<%= f.error_notification %>
		<div class="form-inputs">
				<br>
			    <%= f.input :password, :maxlength => 40, :input_html => { :class => "form-control" }, :placeholder => "Enter group password", :label => false %>
			    <%= f.hidden_field :group_name, value: @group_name %>
		    <br>
		    <div class="form-actions">
		    	<%= f.button :submit, :class => "btn btn-primary", :value => "Join Group" %>
		 	</div>
		</div>
	<% end %>
	<br>
</div>