<div class="container">
	<h3>Add a new item</h3>
	<br>
	<div class="col-md-4">
		<%= simple_form_for @item do |f| %>
		<%= f.error_notification %>
		<div class="form-inputs">
		    <%= f.input :item_name, :maxlength => 15 %>
		    <%= f.hidden_field :user_group_id, :value => current_user.user_groups.first.id %>
		    <br>
		    <div class="form-actions">
		    	<%= f.button :submit, :class => "btn btn-primary" %>
		 	</div>
		</div>
	</div>
	</div>
<% end %>