<div class="row row-centered">
	<div class="col-lg-6 col-centered boxShadow sign-up center-block">
		<h1>Create a Group</h1>
		<br>
		<%= simple_form_for @group do |f| %>
		<%= f.error_notification %>
			<div class="form-inputs">
			    <div class="form-group">
			    	<label for="Group Name">Enter group name</label>
			    	<%= f.input :group_name, :required => true, :autofocus => true, :maxlength => 40, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Group name" %>
			    </div>
			    <div class="form-group">
			    	<label for="Password">Password</label>
			    	<%= f.input :password, :required => true, :autofocus => true, :maxlength => 40, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Group password" %>
			    </div>
					<%= f.button :submit, :class => "btn btn-md btn-warning" %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!-- implement bootstrap error styling move at some point -->
<script>
	$('#user_group_group_name').keyup(function() {
	    $('span.error-keyup-2').remove();
	    $('#new_user_group').addClass('valid');

	    var inputVal = $(this).val();
	    var characterReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;

	    if (inputVal == "") {

	    }
	    else if(!characterReg.test(inputVal)) {
	        $(this).after('<span class="error error-keyup-2">No special characters allowed.</span>');
	        $('#new_user_group').removeClass('valid');
	        $('#new_user_group').on('submit', function(event){
				return false;
			});
	    }

	    $('#new_user_group').on('submit', function(event){
	    	if ($(this).hasClass('valid')) {
	    		$(this).submit();
	    	}
	    });
	});
</script>