<div class="container">
	<div class="row row-centered">
		<div class="col-lg-6 col-centered boxShadow sign-up center-block">
			<h1 class="text-center">Sign in</h1>

			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			
			<div class="form-inputs">
			    <div class="form-group">
			    	<label for="exampleInputEmail1">Email address</label>
				    <%= f.input :email, :required => true, :autofocus => true, :maxlength => 40, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Enter email" %>
				</div>
			    <div class="form-group">
			    	<label for="exampleInputEmail1">Password</label>
				    <%= f.input :password, :required => true, :maxlength => 40, :input_html => { :class => "form-control" }, :label => false, :placeholder => "Password" %>
				</div>
			    <div class="form-group">
			    	<label for="exampleInputEmail1">Remember me</label>
				    <%= f.input :remember_me, :label => false, :as => :boolean if devise_mapping.rememberable? %>
		  		</div>
		  	</div>

			<div class="form-actions">
			    <%= f.button :submit, "Log in", :class => "btn btn-md btn-warning" %>
			</div>
			<% end %>
			<br>
			<%= link_to "Forgot your password?", new_password_path(resource_name) %>
		</div>
	</div>
</div>