<h1>Item Index</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Already Got It?</th>
		</tr>
	</thead>
	<tbody>
	<%= form_tag("/user_groups/"+current_user.user_groups.first.group_name, method: "get") do %>
	<% @items.order("created_at DESC").each do |p| %>
		<tr>
			<td>
				<%= p.item_name %>
			</td>
			<td>
				<%= check_box_tag(p.id, 1, false, :class => "text-center") %>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>

<%= submit_tag("Get Group List", :class => "btn btn-primary") %>
<% end %>			

<%= render "shared/new_item_form" %>
