<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Moving Bro: Know what you need" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => 'screen, projection' %>

    <!-- print stylesheet -->
    <%= stylesheet_link_tag 'application-print', :media => 'print' %>

    <%= favicon_link_tag 'favicon.ico' %>
    
    <!-- This favicon tag wasn't working on heroku: <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->


    <%= javascript_include_tag "application" %>
  </head>
<body>
	<nav class="navbar navbar-default navbar-top" role="navigation">		
			<div class="container">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<% if user_signed_in? && current_user.user_group == nil %>
              <%= link_to "Moving Bro", "/", :class => "navbar-brand" %>
            <% elsif user_signed_in? && current_user.user_group != nil %>
              <%= link_to "Moving Bro", "/user_groups/"+current_user.user_group.group_name, :class => "navbar-brand" %>
            <% else %>
              <%= link_to "Moving Bro", "/", :class => "navbar-brand" %>
            <% end %>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
              <li><%= link_to("Hello, #{current_user.email}", "/") if user_signed_in? %></li>
							<li><%= link_to("Log out", destroy_user_session_path, :method => :delete) if user_signed_in? %></li>
							<li><%= link_to("Log in", '/users/sign_in', :method => :get) if user_signed_in? == false %></li>
              <li><%= link_to("Sign up", '/users/sign_up', :method => :get) if user_signed_in? == false %></li>
						</ul>
					</div>
				</nav>

    <div class="container">
    <%= bootstrap_flash %>  
      <div class="row">     
        <%= yield %>
        <% if user_signed_in? && (current_page?("/") == false) %>
          <% if current_user.user_group != nil && (current_page?("/user_groups") == false) %>        
            <div class="col-lg-3 pull-right">
              <div class="well sidebar-nav boxShadow">
                <h3>List Actions</h3>
                <ul class="nav nav-list">
                    <li><%= link_to "Needed Items", "/user_groups/"+current_user.user_group.group_name  %></li> 
                    <% if current_user.admin? %> 
                      <li><%= link_to "Master List Items", "/items"  %></li>
                    <% end %>
                    <li><%= link_to "Marked Off Items", "/user_groups/"+current_user.user_group.group_name+"/taken_items/" %></li>
                    <h4><%= current_user.user_group.group_name %> Members</h4>
                    <% current_user.user_group.users.each do |p| %>
                      <li><%= p.email %></li>
                    <% end %>
                    <br>
                    <li><%= link_to "Invite More", "/user_groups/"+current_user.user_group.token+"/invite_members", :class => 'btn btn-sm btn-primary' %></li>
                    <br>
                    <li><%= link_to "Leave Group", "/user_groups/"+current_user.user_group.group_name, method: :delete, :class => "btn btn-sm btn-primary" %></li>
                  </ul>
                </div><!--/.well -->
              </div><!--/span-->            
          <% end %>
        <% else %>
        <% end %>

      <% if current_page?("/") %>
        <footer>
          <p>&copy; Moving Bro 2014</p>
        </footer>
      <% end %>

      </div><!--/row-->
      


    </div> <!-- /container -->

  </body>
</html>
